In [58]:
import pandas as pd

## GTZAN

In [59]:
# GTZAN_dataset = pd.read_csv("../data/gtzan/features_30_sec.csv")
# GTZAN_dataset.drop(['filename','length'], axis =1, inplace = True)
# X = GTZAN_dataset.drop(['label'], axis=1)
# y = GTZAN_dataset['label']

In [60]:
# GTZAN_dataset.head()

## FMA

In [61]:
# FMA_features = pd.read_csv("../data/fma/features.csv")
# FMA_features.rename(columns={'feature': 'track_id'}, inplace=True)
# FMA_features = FMA_features.iloc[3:,:]
# FMA_features.head()

In [62]:
# FMA_features = pd.read_csv("../data/fma/features.csv")
# FMA_features.rename(columns={'feature': 'track_id'}, inplace=True)
# FMA_features = FMA_features.iloc[3:,:]
# FMA_features.reset_index(drop=True,inplace=True)
# FMA_features.head()

In [63]:
FMA_tracks = pd.read_csv("../data/fma/tracks.csv", index_col=0)
FMA_tracks.columns = FMA_tracks.iloc[0]

/var/folders/8n/d_gn0k3x4k98s_41gm5jms180000gn/T/ipykernel_75321/657502820.py:1: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  FMA_tracks = pd.read_csv("../data/fma/tracks.csv", index_col=0)

In [64]:
track_info = FMA_tracks[["subset","genre_top"]]
track_info.head()

nan       subset  genre_top
NaN       subset  genre_top
track_id     NaN        NaN
2          small    Hip-Hop
3         medium    Hip-Hop
5          small    Hip-Hop

In [65]:
track_info.columns.rename('',inplace=True)
track_info = track_info.iloc[2:,:]
track_info = track_info[track_info['genre_top'].isnull() == False] 
track_info.head()

     subset genre_top
2     small   Hip-Hop
3    medium   Hip-Hop
5     small   Hip-Hop
10    small       Pop
134  medium   Hip-Hop

In [66]:
track_info['track_id'] = track_info.index

In [67]:
track_info

        subset genre_top track_id
2        small   Hip-Hop        2
3       medium   Hip-Hop        3
5        small   Hip-Hop        5
10       small       Pop       10
134     medium   Hip-Hop      134
...        ...       ...      ...
155315   large      Rock   155315
155316   large      Rock   155316
155317   large      Rock   155317
155318   large      Rock   155318
155319   large      Rock   155319

[49598 rows x 3 columns]

In [74]:
FAM_features = pd.read_csv("../data/hand-crafted/FMA_medium_handcrafted_features.csv")

In [75]:
FAM_features.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_268,feature_269,feature_270,feature_271,feature_272,feature_273,feature_274,feature_275,feature_276,track_id
0,-287.659267,136.153265,-1.044785,46.998524,-4.480115,24.553571,-2.639639,13.259387,7.618672,-2.094758,...,1.933978,1.807735,1.495546,1.251119,1.494395,1.862157,214.978746,428.135264,604.615394,135054
1,-179.123534,112.503843,32.167569,30.893534,3.766597,6.532825,3.143919,3.558495,-9.535322,10.881085,...,4.859566,3.853364,4.128862,3.573876,5.408616,3.928263,401.518601,802.062530,880.749257,135040
2,-99.555557,99.983701,20.608591,21.318870,15.662856,5.197851,-1.226076,0.869772,-8.267710,-1.382700,...,7.598634,5.926319,4.880134,5.931302,7.048175,5.393518,517.643590,1036.383325,1104.245792,135336
3,-108.875410,87.945286,-9.532563,-6.515012,-5.952966,-21.799541,-21.075214,-8.817229,-11.907607,-2.482180,...,6.971639,4.917969,5.534257,8.000605,6.076923,4.345370,497.781151,995.472194,1187.864241,135337
4,-150.223013,99.786985,18.814489,52.378629,17.220552,15.986250,3.212827,1.292879,-12.196205,2.725307,...,5.322011,5.433737,3.980877,5.231651,4.868610,4.262915,401.210943,800.559865,985.653409,135041

In [76]:
# Concatenate the DataFrames based on the 'track_id' column
merged_df = pd.merge(FAM_features, track_info, on='track_id', how='inner')

In [77]:
merged_df.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_270,feature_271,feature_272,feature_273,feature_274,feature_275,feature_276,track_id,subset,genre_top
0,-287.659267,136.153265,-1.044785,46.998524,-4.480115,24.553571,-2.639639,13.259387,7.618672,-2.094758,...,1.495546,1.251119,1.494395,1.862157,214.978746,428.135264,604.615394,135054,small,Experimental
1,-179.123534,112.503843,32.167569,30.893534,3.766597,6.532825,3.143919,3.558495,-9.535322,10.881085,...,4.128862,3.573876,5.408616,3.928263,401.518601,802.062530,880.749257,135040,medium,Folk
2,-99.555557,99.983701,20.608591,21.318870,15.662856,5.197851,-1.226076,0.869772,-8.267710,-1.382700,...,4.880134,5.931302,7.048175,5.393518,517.643590,1036.383325,1104.245792,135336,small,Pop
3,-108.875410,87.945286,-9.532563,-6.515012,-5.952966,-21.799541,-21.075214,-8.817229,-11.907607,-2.482180,...,5.534257,8.000605,6.076923,4.345370,497.781151,995.472194,1187.864241,135337,small,Pop
4,-150.223013,99.786985,18.814489,52.378629,17.220552,15.986250,3.212827,1.292879,-12.196205,2.725307,...,3.980877,5.231651,4.868610,4.262915,401.210943,800.559865,985.653409,135041,medium,Folk

In [72]:
merged_df.to_csv('FMA-medium-handcrafted-label.csv' , index=False)

In [73]:
fma = pd.read_csv('FMA-medium-handcrafted-label.csv')